<div class="navbar-area">
    <div class="container">
        <nav class="site-navbar">
            <!-- site logo -->
            <img src="/images/logo.png" style="width: 133.5px; height: 50px;" class="site-logo" alt="site logo">
            <!-- site menu/nav -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/quran">Quran</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="/signout">Sign Out</a></li>
            </ul>
            <!-- nav-toggler for mobile version only -->
            <button class="nav-toggler">
                <span></span>
            </button>
        </nav>
    </div>
</div><!-- navbar-area end -->