<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homeStyles.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <title>Muslim Daily</title>
</head>

<body>
    <header class="header-area">
        <!-- site-navbar  -->
        <%- include('partials/navbar') %>

            <div class="intro-area">
                <div class="container">
                    <h1 style="color: #f2e5e5;;">Welcome , Jahid !</h1>
                    <p style="color: #f2e5e5; margin: 25px auto;" id="crnt-date"></p>
                    <div class="wrapper">
                        <div class="slider">
                            <%- include('partials/prayer-tracker') %>
                            <%- include('partials/quran-tracker') %>
                            <%- include('partials/muslim-checklist') %>
                        </div>
                    </div>
                </div>
            </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="/js/quran-tracker.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/muslim-checklist.js"></script>
    <script src="/js/navcontroller.js"></script>


    <script>

        /* update date */

        function updateDate() {

            const time = document.querySelector('#crnt-date');

            const formattedDate = new Intl.DateTimeFormat('en-u-ca-islamic-umalqura', {
                day: 'numeric',
                month: 'long',
                weekday: 'long',
                year: 'numeric',
                timeZone: 'Asia/Dhaka'
            }).format(Date.now());

            console.log(formattedDate);

            time.innerText = formattedDate;
        }

        updateDate();

    </script>
</body>

</html>